# Kafka common
ALERT_BOOTSTRAP_SERVERS=localhost:9092
ALERT_TOPIC=fraud_alerts

# Email consumer
ALERT_SMTP_HOST=smtp.gmail.com
ALERT_SMTP_PORT=587
ALERT_SMTP_USER=your_email@gmail.com
ALERT_SMTP_PASSWORD="your_app_password"
ALERT_EMAIL_FROM=your_email@gmail.com
ALERT_EMAIL_TO=your_email@gmail.com
ALERT_EMAIL_USE_TLS=true
