FRAUD_PROJECT_ROOT=/opt/project
GOOGLE_APPLICATION_CREDENTIALS=/opt/project/infra/terraform/keys/terraform-sa-key.json

FRAUD_GCP_PROJECT_ID=replace-with-your-gcp-project-id
GCP_REGION=us-central1
GCP_GCS_BUCKET=replace-with-your-bucket
GCP_DATAPROC_DEPS_BUCKET=replace-with-your-bucket
GCP_DATAPROC_SERVICE_ACCOUNT=dataproc-fraud-runtime@replace-with-your-gcp-project-id.iam.gserviceaccount.com
GCP_DATAPROC_SUBNET=projects/replace-with-your-gcp-project-id/regions/us-central1/subnetworks/fraud-dataproc-subnet
GCP_DATAPROC_SPARK_PROPERTIES=spark.dynamicAllocation.enabled=false,spark.driver.cores=4,spark.executor.instances=2,spark.executor.cores=4

FRAUD_SILVER_PATH=gs://replace-with-your-bucket/lake/silver/scored_transactions
FRAUD_HOURLY_OUTPUT_BASE=gs://replace-with-your-bucket/lake/gold/hourly_batch
FRAUD_MODEL_OUTPUT=gs://replace-with-your-bucket/ml/artifacts/fraud_rf_pipeline
FRAUD_LABELS_CSV=gs://replace-with-your-bucket/inputs/transaction_log.csv

FRAUD_BQ_DATASET=fraud_analytics
FRAUD_RETRAINING_TABLE=retraining_dataset
FRAUD_BQ_TEMP_BUCKET=replace-with-your-bucket

DATAFORM_REGION=us-central1
DATAFORM_REPOSITORY_ID=fraud-warehouse
DATAFORM_RUN_WORKFLOW_CONFIG_ID=fraud-main
DATAFORM_ASSERT_WORKFLOW_CONFIG_ID=fraud-assertions

FRAUD_HOURLY_BATCH_PY_URI=gs://replace-with-your-bucket/code/batch/hourly_batch_processing.py
FRAUD_HOURLY_BQ_LOAD_PY_URI=gs://replace-with-your-bucket/code/batch/load_hourly_batch_to_bigquery.py
FRAUD_DAILY_MODEL_REFRESH_PY_URI=gs://replace-with-your-bucket/code/batch/daily_model_refresh.py

FRAUD_ALERT_EMAILS=alerts@example.com

AIRFLOW__SMTP__SMTP_HOST=smtp.example.com
AIRFLOW__SMTP__SMTP_PORT=587
AIRFLOW__SMTP__SMTP_STARTTLS=True
AIRFLOW__SMTP__SMTP_SSL=False
AIRFLOW__SMTP__SMTP_USER=your-smtp-user
AIRFLOW__SMTP__SMTP_PASSWORD=your-smtp-password
AIRFLOW__SMTP__SMTP_MAIL_FROM=airflow@example.com

