FRAUD_PROJECT_ROOT=/opt/project
GOOGLE_APPLICATION_CREDENTIALS=/opt/project/infra/terraform/keys/terraform-sa-key.json

FRAUD_GCP_PROJECT_ID=replace-with-your-gcp-project-id
FRAUD_BIGQUERY_DATASET=fraud_analytics

FRAUD_SILVER_PATH=gs://REPLACE_SILVER_BUCKET/scored_transactions
FRAUD_BATCH_OUTPUT_BASE=gs://REPLACE_GOLD_BUCKET/hourly_batch
FRAUD_MODEL_OUTPUT=gs://REPLACE_GOLD_BUCKET/models/fraud_rf_pipeline
FRAUD_LABELS_CSV=/opt/project/data/transaction_log.csv

DBT_PROFILES_DIR=/opt/project/dbt
DBT_BIGQUERY_PROJECT=replace-with-your-gcp-project-id
DBT_BIGQUERY_DATASET=fraud_analytics

FRAUD_SPARK_SUBMIT_BIN=/home/airflow/.local/bin/spark-submit
FRAUD_PYTHON_BIN=python3
